body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  background-color: whitesmoke;
  font-size: 1.1rem;
}

.search-button,
.dropdown {
  background-color: #272727;
  color: whitesmoke;
  padding: 16px;
  cursor: pointer;
  border: 1px solid black;
  font-size: 1em;
}
.search-button {
  background-color: white;
  background-color: #3E8500;
  color: white;
  padding: 16px;
  cursor: pointer;
  border: 1px solid black; 
  margin-top: 10px; 
}

.search-field {
  font-size: 1em;
}

.outer-container {
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.result-container {
  margin-top: 5%;
  display: flex;
  background-color: #f7f7f7;
}

label {
  padding: 10px;
}

@media only screen and (min-width: 900px) {
  body {
    font-size: 2rem;
  }
}
